header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 1500px;
  aspect-ratio: auto 1500 / 334;
  height: 334px;
  background-image: url("https://raw.githubusercontent.com/hougie/hougie.github.io/main/sym-logo.png") !important;
}
